[submodule "talks/amm-open-class/reveal.js@993b8f302a4dd9ed2b823ede71a42380eb244bb6"]
	path = talks/amm-open-class/reveal.js@993b8f302a4dd9ed2b823ede71a42380eb244bb6
	url = https://github.com/hakimel/reveal.js
	branch = master
[submodule "talks/blockchain-futurist-conference-23/reveal.js@e1c180565e48ae1b595f44edef319872262a99c7"]
	path = talks/blockchain-futurist-conference-23/reveal.js@e1c180565e48ae1b595f44edef319872262a99c7
	url = https://github.com/hakimel/reveal.js
	branch = master
[submodule "talks/smart-contracts-and-dapps/reveal.js@00b0ace3863952ce95df4430d203686fd27bfc20"]
	path = talks/smart-contracts-and-dapps/reveal.js@00b0ace3863952ce95df4430d203686fd27bfc20
	url = https://github.com/hakimel/reveal.js
	branch = master
[submodule "talks/overview-of-consensus/reveal.js@0b3e7839ebf4ed8b6c180aca0abafa28c67aee6d"]
	path = talks/overview-of-consensus/reveal.js@0b3e7839ebf4ed8b6c180aca0abafa28c67aee6d
	url = https://github.com/hakimel/reveal.js
	branch = master
[submodule "talks/reveal.js@0b3e7839ebf4ed8b6c180aca0abafa28c67aee6d"]
	path = talks/reveal.js@0b3e7839ebf4ed8b6c180aca0abafa28c67aee6d
	url = https://github.com/hakimel/reveal.js.git
	branch = master
